<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Simple WebSocket Test</title>
</head>
<body>
<div id="notification-counter"></div>
Web Socket simple test
<script>
    const websocket = new WebSocket('ws://127.0.0.1:8001/websocket/ws/notifications/', 'echo-protocol');

    websocket.onmessage = function (event) {
        const eventData = JSON.parse(event.data);
        if (eventData.type === 'notification.update') {
            const notificationCount = eventData.count;
            const isReadValues = eventData.is_read_values;
            const messagesValues = eventData.messages_values;

            // Update notification counter display on the front-end
            document.getElementById('notification-counter').innerText = notificationCount;

            // You can also handle isReadValues and messagesValues as needed
            // For example, update message lists, styles, etc.
        }
    };

    websocket.onopen = function (event) {
        websocket.send(JSON.stringify({ type: 'update.notification.count' }));
    };
</script>
</body>
</html>
